<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <bean id="regionManager" class="com.oleg.belov.spring_framework.aop.aspectj.bean.RegionManager">
        <property name="name" value="I am region manager"/>
        <property name="number" value="5"/>
    </bean>

    <bean id="cityManager" class="com.oleg.belov.spring_framework.aop.aspectj.bean.CityManager">
        <property name="name" value="I am city manager"/>
        <property name="number" value="5"/>
    </bean>


    <bean id="peopleManager" class="com.oleg.belov.spring_framework.aop.aspectj.bean.PeopleManager">
        <property name="name" value="I am people manager"/>
        <property name="number" value="5"/>
    </bean>

    <bean id="buildingManager" class="com.oleg.belov.spring_framework.aop.aspectj.bean.BuildingManager">
        <property name="name" value="I am building manager"/>
        <property name="number" value="5"/>
    </bean>


    <bean id="log" class="com.oleg.belov.spring_framework.aop.aspectj.aspect.Logging"/>

    <aop:config>
        <aop:aspect id="log" ref="log">

            <aop:pointcut id="getAnything" expression="execution(* com.oleg.belov.spring_framework.aop.aspectj.bean.RegionManager.get*(..))"/>
            <aop:before pointcut-ref="getAnything" method="doBeforeGetAnything"/>

        </aop:aspect>
        <aop:aspect id="log" ref="log">
            <aop:pointcut id="actionWithCity"
                          expression="execution(* com.oleg.belov.spring_framework.aop.aspectj.bean.CityManager.*City(..))"/>
            <aop:after pointcut-ref="actionWithCity" method="doAfterAnyActionCity"/>
        </aop:aspect>

        <aop:aspect id="log" ref="log">
            <aop:pointcut id="allRegionManagerMethods"
                          expression="execution(* com.oleg.belov.spring_framework.aop.aspectj.bean.RegionManager.*(..))"/>
            <aop:before pointcut-ref="allRegionManagerMethods" method="doBeforeAnyActionRegion"/>
        </aop:aspect>

    </aop:config>


</beans>