<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="regionManager" class="com.oleg.belov.spring_framework.aop.adviser.bean.RegionManager">
        <property name="name" value="Simple region manager"/>
        <property name="number" value="5"/>
    </bean>


    <bean id="beforeAdvice" class="com.oleg.belov.spring_framework.aop.adviser.advice.BeforeMethod"/>
    <bean id="afterAdvice" class="com.oleg.belov.spring_framework.aop.adviser.advice.AfterMethod"/>
    <bean id="aroundAdvice" class="com.oleg.belov.spring_framework.aop.adviser.advice.AroundMethod"/>
    <bean id="throwAdvice" class="com.oleg.belov.spring_framework.aop.adviser.advice.ThrowException"/>


    <!-- оперделяет метод входа -->
    <bean id="regionPointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
        <property name="mappedName" value="getInfo"/>
    </bean>

    <!-- Связывает совет и срез-->
    <bean id="regionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="pointcut" ref="regionPointcut"/>
        <property name="advice" ref="beforeAdvice"/>
    </bean>


    <bean id="regionProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="regionManager"/>
        <property name="interceptorNames">
            <list>
                <value>regionAdvisor</value>
            </list>
        </property>
    </bean>


    <!--чтобы определить advisor и pointcut в одном бине -->
    <bean id="newRegionAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
        <property name="mappedName" value="getNumber"/>
        <property name="advice" ref="afterAdvice"/>
    </bean>

    <bean id="newRegionProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="regionManager"/>
        <property name="interceptorNames">
            <list>
                <value>newRegionAdvisor</value>
            </list>
        </property>
    </bean>


    <!-- перехват по регулярному выражению -->
    <bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="patterns">
            <list>
                <value>.*get.*</value>
            </list>
        </property>
        <property name="advice" ref="aroundAdvice"/>
    </bean>

    <bean id="regexpRegionProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="regionManager"/>
        <property name="interceptorNames">
            <list>
                <value>regexpAdvisor</value>
            </list>
        </property>
    </bean>

</beans>